#header{
  grid-column: 2;
  background-color: var(--violet-50);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;

  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
}

.top-section{
  padding: 10px 30px;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.top-section :first-child,
.top-section :nth-child(2){
  display: flex;
  gap: 16px;
  align-items: center;
}


.top-section :nth-child(2){
  justify-content: end;
}

.top-section input{
  flex: 1 1 auto;

  border-radius: 10px;
  border: none;
  height: 25px;
  padding-left: 10px;
  background-color: var(--violet-300);
  font-size: 16px;
}

input:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.top-section > * img{
  width: 20px;
  height: auto;
}

.top-section .profile-container{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--violet-900);
}

.top-section .user-name{
  font-weight: bold;
  font-size: 18px;
}

.bottom-section{
  padding: 10px 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

}

.left{
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.left .profile-container{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--violet-900);
}

.left :nth-child(2){
  display: grid;
  gap: 5px;
}

.left :nth-child(2) span:nth-of-type(2){
  font-weight: bold;
  font-size: 20px;
}

.right{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;

}

.right button{
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: var(--violet-900);
  border-radius: 20px;

  transition: transform 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.right button:hover{
  cursor: pointer;
  background-color: var(--violet-800);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  transform: scale(110%);
}
