/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Reset End */

.container{
    display: grid;
    grid-template-columns: max-content 4fr;
    min-height: 100vh;
}

/* Sidebar Styles Start */
.container .sidebar{
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 30px;

    padding: 10px 80px 10px 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 28px;
    font-weight: bold;
    color: white;
}


.logo svg{
    width: 60px;
    fill: white;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    font-size: 18px;
    color: white;
}

nav .main-nav{
    display: flex;
    flex-direction: column;
}

.main-nav > div,
.extra-nav > div{
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: bold;
    margin-bottom: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.main-nav > div:hover,
.extra-nav > div:hover{
    transform: translateX(3px);
}

.main-nav svg,
.extra-nav svg{
    fill: white;
    width: 25px;
}

.extra-nav{
    display: flex;
    flex-direction: column;
}

/* Sidebar Styles End */

.container .right-section{
    display: grid;
    grid-template-rows: 1fr 3fr;
}

header{
    display: grid;
    grid-template-rows: 50% 50%;
}

header .top-section{
    background-color: hotpink;
}

header .bottom-section{
    background-color: orangered;
}


.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-left-section{
    background-color: goldenrod;
    padding: 30px 20px;
}

.main-right-section{
    background-color: lightcoral;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 30px 20px;
}

.announcements{
    background-color: blue;
}

.trending{
    background-color: purple;
}

