/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Reset End */

.container{
    display: grid;
    grid-template-columns: max-content 4fr;
    min-height: 100vh;
}

/* Sidebar Styles Start */
.container .sidebar{
    background-color: midnightblue;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 30px;

    padding: 10px 100px 10px 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 28px;
    font-weight: bold;
    color: white;
}


.logo svg{
    width: 60px;
    fill: white;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    font-size: 18px;
    color: white;
}

nav .main-nav{
    display: flex;
    flex-direction: column;
}

.main-nav > div,
.extra-nav > div{
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: bold;
    margin-bottom: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.main-nav > div:hover,
.extra-nav > div:hover{
    transform: translateX(3px);
}

.main-nav svg,
.extra-nav svg{
    fill: white;
    width: 25px;
}

.extra-nav{
    display: flex;
    flex-direction: column;
}

/* Sidebar Styles End */

.container .right-section{
    display: grid;
    grid-template-rows: max-content 1fr;
}

/* Header Styles Start */
header{
    display: grid;
    grid-template-rows: 50% 50%;
}

header .top-section,
header .bottom-section{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.top-section .profile{
    width: 40px;
    height: 40px;
    background-color: midnightblue;
    border-radius: 50%;
}

header .top-section svg{
    width: 20px;
    cursor: pointer;
}

input[type="search"]{
    border: none;
    width: 500px;
    border-radius: 16px;
    background-color: lightgray;
    padding: 0 20px;
    font-weight: normal;
}

input[type="search"]:focus{
    outline: none;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);

}

header .top-section > div,
header .bottom-section > div{
    display: flex;
    align-items: center;
    gap: 16px;
}

header .bottom-section .profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: midnightblue;
}

header .bottom-section > div:first-child > div:last-child{
    display: flex;
    flex-direction: column;
} 

.bottom-section span{
    font-size: 12px;
}

header .bottom-section > div:last-child{
    gap: 20px;
    font-weight: normal;
}

header .bottom-section button{
    border: none;
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
    background-color: midnightblue;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.25s;
}

header button:hover{
    transform: scale(1.05)
}
header .bottom-section > div:first-child{
    font-size: 22px;
}

header .bottom-section{
    box-shadow: 0  2px 5px -4px rgba(0, 0, 0, 0.5);
}

/* Header Styles End */

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px;
}

.main-left-section{
    display: flex;
    flex-direction: column;
}

.main-left-section > p{
    font-weight: bold;
    font-size: 22px;
}
.card{
    border-left: 5px solid midnightblue;
    border-radius: 10px;
    box-shadow: 0  0 5px rgba(0,0,0,0.5);
    height: 200px;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow 0.25s;

    display: flex;
    flex-direction: column;
}

.card p{
    color: rgb(105, 105, 105);
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card h3{
    font-size: 18px;
}

.card svg:hover{
    fill: blue;
    transform: scale(1.1);
}
.card .icons{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: auto;
}
.card svg{
    width: 20px;
    transition: fill 0.25s, transform 0.25s;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 10px 20px 0 0 ;
}

.main-right-section{
    display: flex;
    flex-direction: column;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;

    margin-bottom: 20px;
}

.announcement-card p {
    color: rgb(105, 105, 105);
}
.trending-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.announcement-card h3{
    font-size: 18px;
}

.main-right-section > p{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

hr{
    border: 1px solid lightgray;
}

.trending-card > div{
    display: flex;
    gap: 16px;
}

.trending-card > div p {
    color: rgb(105, 105, 105);
}

.trending-card .profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: midnightblue;
    flex-shrink: 0;
}

